.xt-login-wrapper 
  display -ms-flexbox
  display -webkit-flex
  display flex
  -webkit-flex-direction column
  -ms-flex-direction column
  flex-direction column
  -webkit-flex-wrap nowrap
  -ms-flex-wrap nowrap
  flex-wrap nowrap
  -webkit-justify-content center
  -ms-flex-pack center
  justify-content center
  -webkit-align-content center
  -ms-flex-line-pack center
  align-content center
  -webkit-align-items center
  -ms-flex-align center
  align-items center
  height 100%
  background url('../assets/background.png') no-repeat center center

.xt-login-box
  background #ffffff
  box-shadow 0 0 2px rgba(0, 0, 0, 0.12), 0 0 4px rgba(0, 0, 0, 0.24)
  padding 15px 20px
  width 250px

.xt-form-row 
  margin-bottom 15px

.xt-form-error 
  color ERROR
  margin 6px 0

.xt-form-row input 
  width 100%
  line-height 32px

.xt-login-btn
  background BRAND_COLOR
  color #ffffff
  text-transform uppercase
  border 0
  width 100%
  line-height 36px